body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow: clip;
  color: white;
}
.superstars, .box-of-star1, .box-of-star2, .box-of-star3, .box-of-star4 {
  z-index: -999999999999999999;
}
.center{
  text-align: center;
}
@keyframes rainbow {
    100% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}
 button {
border-radius: 8px;
padding: 12px 28px;
   background-color: red;
 }
